{% extends "base.html" %}
{% set nav_page = 'consulter' %}
{% block content %}
    {% if author.aut_first_name != None %}
    <h2>{{ author.aut_last_name }}, {{ author.aut_first_name }}</h2>
    {% else %}
    <h2>{{ author.aut_last_name }}</h2>
    {% endif %}

    <h3>L'auteur</h3>
    <table class="table table-condensed">
        {% if author.aut_sex != '' %}
        <tr>
            <td>Sexe</td>
            <td>
                {% if author.aut_sex == 'M' %}
                homme
                {% else %}
                femme
                {% endif %}
            </td>
        </tr>
        {% endif%}

        {% if author.aut_birth_date != None %}
        <tr>
            <td>Naissance</td>
            <td>{{ author.aut_birth_date.strftime('%d/%m/%Y') }}</td>
        </tr>
        {% endif %}

        {% if author.aut_death_date != None %}
        <tr>
            <td>Décès</td>
            <td>{{ author.aut_death_date.strftime('%d/%m/%Y') }}</td>
        </tr>
        {% endif %}

        <tr>
            {% if languages|length > 1 %}
            <td>Langues d'écriture</td>
            <td>
                {% for language in languages %}
                {{ language.lng_label }}&nbsp;
                {% endfor %}
            </td>
            {% else %}
            <td>Langue d'écriture</td>
            <td>
                {% for language in languages %}
                {{ language.lng_label }}&nbsp;
                {% endfor %}
            </td>
            {% endif %}
        </tr>

        <tr>
            {% if genres|length > 1 %}
            <td>Genres</td>
            <td>
                {% for genre in genres %}
                <span class="label label-primary">{{ genre.gnr_label }}</span>&nbsp;
                {% endfor %}
            </td>
            {% else %}
            <td>Genre</td>
            <td>
                {% for genre in genres %}
                <span class="label label-primary">{{ genre.gnr_label }}</span>&nbsp;
                {% endfor %}
            </td>
            {% endif %}
        </tr>
    </table>

    <h3>Livres <small>({{ books|length }})</small></h3>
    <ul>
    {% for book in books %}
        <li><a href="">{{ book.tit_title }}</a></li>
    {% endfor %}
    </ul>
{% endblock %}
