<html>
    <head>
        {% if title %}
        <title>{{ title }} - Pibliothèque</title>
        {% else %}
        <title>Pibliothèque</title>
        {% endif %}
    </head>
    <body>
        <div>
            <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='img/pibliotheque.png') }}" /></a>
            <a href="{{ url_for('index') }}">Consulter</a> |
            <a href="/mise-a-jour">Modifier</a> |
            <a href="/statistiques">Statistiques</a>
        </div>
        <hr>
        {% block content %}{% endblock %}
    </body>
</html>