<html>
    <head>
        {% if title %}
        <title>{{ title }} - Πbliothèque</title>
        {% else %}
        <title>Πbliothèque</title><!-- Ππ -->
        {% endif %}
        <link rel="icon" href="{{ url_for('static', filename='img/pibliotheque.ico') }}">

        <!-- Bootstrap core CSS -->
        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" media="screen">

        <!-- Custom style. -->
        <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" rel="stylesheet">
    </head>

    <body>
        <nav class="navbar navbar-default navbar-fixed-top">
            {% if nav_page == nul %}
            {%set nav_page = 'consulter' %}
            {% endif %}
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ url_for('index') }}">
                        <img alt="Πbliothèque" src="{{ url_for('static', filename='img/pibliotheque.png') }}">
                    </a>
                </div>
                <div style="height: 1px;" aria-expanded="false" id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        {% if nav_page == 'consulter' %}
                        <li class="active"><a href="{{ url_for('index') }}">Consulter</a></li>
                        {% else %}
                        <li><a href="{{ url_for('index') }}">Consulter</a></li>
                        {% endif %}
                        {% if nav_page == 'mettre-a-jour' %}
                        <li class="active"><a href="#">Mettre à jour</a></li>
                        {% else %}
                        <li><a href="#">Mettre à jour</a></li>
                        {% endif %}
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% if nav_page == 'statistiques' %}
                        <li class="active"><a href="#">Statistiques</a></li>
                        {% else %}
                        <li><a href="#">Statistiques</a></li>
                        {% endif %}
                        {% if nav_page == 'a-propos' %}
                        <li class="active"><a href="#">A propos</a></li>
                        {% else %}
                        <li><a href="#">A propos</a></li>
                        {% endif %}
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>

        <div class="container">
            <div class="row">
                <div class="col-sm-8 text-16 gray-text main-content">
                    {% block content %}{% endblock %}
                </div>
                <div class="col-sm-4 blog-sidebar">
                    <div class="sidebar-module sidebar-module-inset">
                        {% block search %}
                            <h4>Recherche</h4>
                            <div class=" text-16 gray-text">
                                ...
                            </div>
                        {% endblock %}
                    </div>
                </div>
                <div class="col-sm-4 blog-sidebar hidden-xs">
                    <div class="sidebar-module">
                        {% block sidebar %}
                            <h4>Genres</h4>
                            <ul class="list-unstyled text-16 gray-text">
                                {% for genre in sidebar_genres %}
                                <li><a href="#">{{ genre.gnr_label }}&nbsp;</a><small>({{ genre.count_genre }})</small></li>
                                {% endfor %}
                            </ul>
                        {% endblock %}
                    </div>
                </div>
            </div>
            <div class="row">
                <footer>
                    <p>Πbliothèque, par <a href="https://github.com/bxlambert">Benoît-Xavier</a>.</p>
                </footer>
            </div>
        </div>

        <script src="{{ url_for('static', filename='js/jquery.min.js') }}" rel="stylesheet"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/ie10-viewport-bug-workaround.js') }}"></script>
    </body>
</html>