{% extends "base.html" %}
{% set nav_page = 'consulter' %}
{% block content %}
    <h1>Consulter la Πbliothèque</h1>
    <p>La Πbliothèque peut être parcourue entièrement en navigant de lien en lien.</p>
    <p>Une recherche, simple ou avancée, permet de retrouver tous les objets de la Πbliothèque</p>
    <h3>Auteurs <small>({{ nb_authors }})</small></h3>
    <ul>
        <li>Parcourir les <a href="{{ url_for('authors') }}">auteurs</a> par ordre alphabétique</li>
        <li>Lettre par lettre: </li>
    </ul>

    <h3>Livres <small>({{ nb_books }})</small></h3>
    <ul>
        <li>Parcourir les <a href="{{ url_for('books') }}">livres</a> par ordre alphabétique</li>
        <li>Lettre par lettre: </li>
    </ul>

    <h3>Autres</h3>
    <ul>
        <li>Parcourir par <a href="{{ url_for('genres') }}">genre</a></li>
        <li>Parcourir par <a href="#">langue</a></li>
        <!--<li>Parcourir par <a href="#">mot-clé</a></li>-->
        <li>Parcourir par <a href="{{ url_for('shelves') }}">rayon</a></li>
    </ul>
{% endblock %}
