{% extends "base.html" %}
{% set nav_page = 'consulter' %}
{% block content %}
    <h1>Consulter la Πbliothèque</h1>
    <p>La Πbliothèque peut être parcourue entièrement en navigant de lien en lien.</p>
    <p>Une recherche, simple ou avancée, permet de retrouver tous les objets de la Πbliothèque</p>
    <h3>Auteurs <small>({{ nb_authors }})</small></h3>
    <ul>
        <li>Parcourir les <a href="{{ url_for('authors') }}">auteurs</a> par ordre alphabétique</li>
        <li>Lettre par lettre:
            {% for letter, is_present in aut_first_letters.items(): %}
                {% if is_present %}
                    &nbsp&nbsp<a href="{{ url_for('authors', _anchor=letter) }}">{{ letter }}</a>
                {% else %}
                    &nbsp&nbsp<span class="no-link">{{ letter }}</span>
                {% endif %}
            {% endfor %}
        </li>
    </ul>

    <h3>Livres <small>({{ nb_books }})</small></h3>
    <ul>
        <li>Parcourir les <a href="{{ url_for('books') }}">livres</a> par ordre alphabétique</li>
        <li>Lettre par lettre:
            {% for letter, is_present in boo_first_letters.items(): %}
                {% if is_present %}
                    &nbsp&nbsp<a href="{{ url_for('books', _anchor=letter) }}">{{ letter }}</a>
                {% else %}
                    &nbsp&nbsp<span class="no-link">{{ letter }}</span>
                {% endif %}
            {% endfor %}
        </li>
    </ul>

    <h3>Autres</h3>
    <ul>
        {% if nb_genres > 1 %}
        <li>Parcourir les <a href="{{ url_for('genres') }}">{{ nb_genres }} genres</a></li>
        {% endif %}

        {% if nb_languages > 1 %}
        <li>Parcourir les <a href="{{ url_for('languages') }}">{{ nb_languages }} langues</a></li>
        {% endif %}

        {% if nb_keywords > 1 %}
        <li>Parcourir les <a href="#">{{ nb_keywords }} mot-clés</a></li>
        {% endif %}

        {% if nb_shelves > 1 %}
        <li>Parcourir les <a href="{{ url_for('shelves') }}">{{ nb_shelves }} rayons</a></li>
        {% endif %}
    </ul>
{% endblock %}
